@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Coming+Soon&family=Delius&family=Fanwood+Text:ital@0;1&family=Grand+Hotel&family=Italianno&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nixie+One&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=SUSE:wght@100..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: delius;
}
h1,h2,h3,h4,h5,h6{
    text-align: center;
    margin: 5px 0 8px 0;
}


/* nav style  */
.main-nav{
    display: flex;
    background-image: linear-gradient(to left, rgb(122, 122, 122),rgb(184, 184, 184));
}
.logo{
    width: 10%;
    justify-content: center;
    align-content: center;
}

.navs{
    width: 70%;
    justify-content: center;
    align-content: center;
}

.navs ul li{
    /* margin-left: 10px; */
    display: inline;
    justify-content: center;
    align-content: center;
}
.navs ul li a{
    text-decoration: none;
    color: whitesmoke;
    border-radius: 10px;
    padding: 12px 8px;
}
.navs ul li a:hover{
    background-color: white;
    color: black;
}
.search{
    justify-content: center;
    align-content: center;
    width: 20%;
}
.search input{
    outline: none;
    background: transparent;
    border: 1px solid rgb(90, 90, 90);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 8px 8px;
}
.search button{
    cursor: pointer;
    background: rgb(173, 173, 173);
    border: 1px solid rgb(90, 90, 90);
    border-radius: 6px;
    padding: 8px 7px;
}
.search button:hover{
    background: rgb(31, 31, 31);
    color: #fff;

}

/* caro style  */
.main-caro{

}
.im1 img{
    width: 100%;
    height: 100vh;
}


/* card style  */
.main-block{
    width: 90%;
    margin: auto;
}
.row{
    display: flex;
    width: 100%;
    margin-bottom: 8px;

}
.col{
    /* border: 1px solid rgb(165, 24, 24); */
    width: 25%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 90%;
    border: 1px solid rgb(182, 182, 182);
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 8px rgb(117, 117, 117);

}
.c-img{
    position: absolute;
    top: 0;
    /* border: 1px solid blue; */
    height: 250px;
    width: 100%;
    /* flex-wrap: nowrap; */
    overflow: hidden;
}
.c-img img{
    height: 100%;
    width: 100%;
}
span{
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    background-color: rgba(18, 134, 28, 0.856);
    padding: 2px;
    border-radius: 4px;
}
.card-body{
    position: absolute;
    bottom: 70px;
}
.card-btn{
    position: absolute;
    bottom: 8px;
}
.card-btn button{
    cursor: pointer;
    color: rgb(65, 65, 65);
    padding: 5px;
    border: none;
    border-radius: 4px;
}
.card-btn button:hover{
    background-color: #00000063;
    color: #000;
}

/* footer style  */
footer{
    background-image: linear-gradient(to left, rgb(122, 122, 122),rgb(184, 184, 184));
    padding: 8px;

}
.container-footer{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}
hr{
   width: 80%;
   margin: auto;
}
.foot-frm{
    width: 50%;
    align-items: center;
    align-content: center;
    justify-content: center;
    line-height: 30px;
}
.foot-frm input,textarea{
    width: 90%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 6px;
}
.foot-frm button{
    width: 20%;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 6px;
}
.foot-frm button:hover{
    background-color: #00000063;
    font-size: 1rem;
    color: #fff;
}

.quick-link{
    width: 30%;
}
.quick-link ul{
    list-style: none;
}
.quick-link ul li{
    line-height: 30px;
}
.quick-link ul li a{
    color: #000;
}
.quick-link ul li a:hover{
    color: white;
}


.social-link{
    width: 20%;
}
.social-link i{
    margin-left: 5px;
}


.frm{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.frm div{
    margin-top: 5px;
}
.frm div input{
    width:100%;
    padding: 8px;
}
.frm div button{
    padding:10px;
    border: none;
    border-radius: 4px;
    width: 40%;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgba(61, 59, 55, 0.555);
}